ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS referred_by TEXT;
CREATE TABLE IF NOT EXISTS public.invites (
    id SERIAL PRIMARY KEY,
    ref_code TEXT NOT NULL,
    new_profile_id UUID NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
